@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.contain-w {
    max-width: 1524px;
    margin-left: auto;
    margin-right: auto;
}

.contain-section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.roboto {
    font-family: var(--font-roboto-mono);
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(14 116 144);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .title:after {
    height: 2px;
    background: rgb(14 116 144);
    transition: all 0.25s ease-in-out 0s;
    width: 0;
    content: "";
    display: block;
    margin-top: 15px;
  }

  .title-border.title:after {
    width: 100%;
  }

  .bounce {
    animation: reveal 0.5s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes landing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.slide-in-up {
  animation: slide-up 0.75s;
}

.slide-in-left {
  animation: slide-left 0.75s;
}

.landing {
  animation: landing 0.75s;
}

.button-swipe.border-none {
  border: none;
}

.button-swipe {
  color: rgb(14 116 144);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(14 116 144);
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.button-swipe:hover {
  color: white;
}

.button-swipe::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: rgb(14 116 144);
  z-index: -1;
  transition: all 0.5s;
}

.button-swipe:hover::before {
  width: 170%;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.socialBtn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(14 116 144);
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.socialBtn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.socialBtn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}